<div class="container">
  <h1>Edit Pet</h1>

  <%= form_for @pet do |f| %>

    <div>
      Name:<%= f.text_field :name, maxlength: 25 %>
    </div>
    <div>
      Breed:<%= f.text_area :breed, maxlength: 30 %>
    </div>
    <div>
      Age:<%= f.number_field :age, max: 25 %>
    </div>
    <div>
      About Me:<%= f.text_area :about_me, maxlength: 1000 %>
    </div>
    <div>
      Image:<%= f.file_field :image %>
    </div>

    <%= f.submit class: "btn waves-effect waves-light" %>
  <% end %>
</div>
