<div class="container">
  <%= form_for @pet do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, maxlength: 25 %>
    </div>

    <div class="field">
      <%= f.label :breed %><br />
      <%= f.text_field :breed, maxlength: 30 %>
    </div>

    <div class="field">
      <%= f.label :age %><br />
      <%= f.number_field :age %>
    </div>

    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.label :about_me %><br />
      <%= f.text_field :about_me, maxlength: 1000 %>
    </div>

    <%= hidden_field(:pet, :user_id, :value => current_user.id ) %>
    <%= f.submit "Add Pet" %>
  <% end %>
</div>
