<div class="container">
  <br>
  <p class="chatroom">Existing chatrooms show up here</p>
  <ul>
   <% if @existing_chatrooms_users %>
     <% @existing_chatrooms_users.each do |other_user| %>
      <% if other_user != current_user %>
        <li>
          <!-- this is where I am sending back the 'other_user' and that other_user id -->
          <%= link_to(user_chatrooms_path(current_user, :other_user => other_user.id), method: :post) do %>
          <%= other_user.email %>
          <% end %>
        </li>
       <% end %>
     <% end %>
    <% end %>
  </ul>
  ------<br>
  <p class="chatroom">All Users - see other users email address which links to their chat room</p>
  <ul>
    <% User.all.each do |other_user| %>
     <% if other_user != current_user %>
       <li><p>
         <%= link_to(user_chatrooms_path(current_user, :other_user => other_user.id), method: :post) do %>
         <%= other_user.email %>
         <% end %>
       </p></li>
      <% end %>
    <% end %>
  </ul>
  <li><p><%= link_to 'Log out', destroy_user_session_path, method: :delete %></p></li>
</div>
