
<div class="container job-search">
  <div class="row">
    <div class="col s12" style="border: red solid 2px">
      <h1>Search Jobs</h1>
      <%= form_tag all_path, method: :get do %>
      <div class='form-group'>
        <%= text_field_tag :query, params[:query], class: 'form-control' %>
        <%= submit_tag 'Search', class: 'btn btn-primary' %></div>
      <% end %>
    </div>
  </div>
</div>

<% if @jobs.empty? %>
<h1> Nothing matched your search request, try again </h1>
<% else %>
<div class="container">
  <% @jobs.each do |job| %>
    <div class ="row" style="border: solid">
          <p><strong>job.owner.id: </strong> <%= job.owner.id %> </p>
          <p><strong>job.owner.id: </strong> <%= job.owner.first_name %> </p>
        <% if job.freelancer.nil? %>
        <% else %>
          <p><strong>job.freelancer.id: </strong> <%= job.freelancer.id %> </p>
        <% end %>
          <p><strong>Title: </strong> <%= job.title %> </p>
          <p><strong>Description: </strong> <%= job.description %> </p>
          <p><strong>Address: </strong> <%= job.address %> </p>
          <p><strong>City: </strong> <%= job.city %> </p>
          <p><strong>State: </strong> <%= job.state %> </p>
          <p><strong>Zip: </strong> <%= job.zip %> </p>
          <p><strong>Begin Date: </strong> <%= job.begin_date %> </p>
          <p><strong>End Date: </strong> <%= job.end_date %> </p>
          <p><strong>Dollar Value: </strong> <%= job.dollar_value %> </p>
          <p><strong>Type of Job: </strong> <%= job.type_of_job %> </p>
          <p><strong>Status: </strong> <%= job.status %> </p>
      </div>
  <% end %>

<%= paginate @jobs %>
<div class="pagination_page_info">
<%= page_entries_info @jobs %>
</div>
</div>
<% end %>
