<div class="container">
  <div class="row">
    <div class="col s12" style="border: red solid 2px">
      <% if check_if_job_is_owners %>
        <h1>Hey, <%= @job.owner.first_name %>! Weclome back to your job posting</h1>
        <p>Please update your job!</p>
        <%= form_for @job do |f| %>
          <%= render partial: "job_form", locals: { f: f } %>
          <%= hidden_field(:job, :status, :value => 'Open' ) %>
          <%= f.label :status, "Status of Job"%>
          <%= render partial: "job_status_drop_down", locals: { f: f } %>
          <%= f.submit "Update Job", class: "btn" %>
        <% end %>
      <% elsif check_if_job_is_saved_to_db_by_freelancer == false %>
        <h1>If you want to work on this job, change update the status below!</h1>
        <%= form_for @job do |f| %>
          <%= f.label :status, "Status of Job"%>
          <%= render partial: "job_status_drop_down", locals: { f: f } %>
          <%= hidden_field(:job, :freelancer_id, :value => current_user.id ) %>
          <%= f.submit "Update Status", class: "btn" %>
        <% end %>
      <% elsif check_if_job_is_freelancers == true %>
          <h1>Hey, <%= @job.freelancer.first_name %>! Update the status of the job.</h1>
          <%= form_for @job do |f| %>
            <%= f.label :status, "Status of Job"%>
            <%= render partial: "job_status_drop_down", locals: { f: f } %>
            <%= hidden_field(:job, :freelancer_id, :value => current_user.id ) %>
            <%= f.submit "Update Status", class: "btn" %>
          <% end %>
      <% end %>


    </div>
  </div>
</div>
