<!-- Start of Profile -->
<div class="container">
  <div class="row">
    <div class="col s12 m4" style="border: red solid 2px">
        <%= image_tag(@user.image, class:'circle prof-image')%>
    </div>
    <div class="col s12 m8 prof-info" style="border: black solid 2px">
      <div class='right-align'>
        <%= link_to edit_user_registration_path(current_user) do %>
          <i class="material-icons">edit</i>
        <% end %>
      </div>
        <b>Name: </b><%= @user.first_name.upcase %> <%= @user.last_name.upcase %> <br>
        <b>About Me: </b><%= @user.about_me %> <br>
        <b>Location: </b><%= @user.city %> <br>
        <b>Date Joined: </b><%= @user.created_at.strftime("%B").to_s + " " + @user.created_at.year.to_s %></p>
    </div>
    <div class="center-align">
  <p><%= link_to 'Add Pet', new_pet_path, class: 'btn btn-lg' %>
  </p>
  </div>
  </div>
</div>
<!-- end profile -->


  <div class="container">
    <div class="col s12 m6" style="border: red solid 2px">
      <% @pets.each do |pet| %>
        <% if !pet.image.nil? %>
          <%= image_tag(pet.image, class:'prof-image')%>
        <% end %>
        <div class='right-align'>
          <%= link_to edit_pet_path(pet.id) do %>
            <i class="material-icons">edit</i>
          <% end %>
            <%= link_to material_icon.delete, method: :delete %>
        </div>
        <div>
          <b>Name: </b><%= pet.name %> <br>
          <b>About <%= pet.name %>: </b><%= pet.about_me %> <br>
          <b>Age: </b><%= pet.age %> <br>
          <b>Breed: </b><%= pet.breed %> <br>
        </div>
      <% end %>
    </div>
  </div>


  <!-- Start of jobs where they are the owner -->
    <div class="container">
      <h4> My job postings </h4>
      <% @posted_jobs.each do |posted_job| %>
      <div class ="row">
          <div class="col s12 m6" style="border: red solid 2px">
            <!-- decide if we want people who are currently working on jobs to update or note and then delete or not delete -->
            <div class='right-align'>
              <%= link_to edit_job_path(posted_job.id) do %>
                <i class="material-icons">edit</i>
              <% end %>
            </div>
            <div>
              <p><strong>Title: </strong> <%= posted_job.title %> </p>
              <p><strong>Description: </strong> <%= posted_job.description %> </p>
              <p><strong>Address: </strong> <%= posted_job.address %> </p>
              <p><strong>City: </strong> <%= posted_job.city %> </p>
              <p><strong>State: </strong> <%= posted_job.state %> </p>
              <p><strong>Zip: </strong> <%= posted_job.zip %> </p>
              <p><strong>Begin Date: </strong> <%= posted_job.begin_date %> </p>
              <p><strong>End Date: </strong> <%= posted_job.end_date %> </p>
              <p><strong>Dollar Value: </strong> <%= posted_job.dollar_value %> </p>
              <p><strong>Type of Job: </strong> <%= posted_job.type_of_job %> </p>
              <p><strong>Status: </strong> <%= posted_job.status %> </p>
              <p><strong>Recurring: </strong> <%= posted_job.recurring %> </p>
              <p><strong>Pet Location: </strong> <%= posted_job.pet_location %> </p>
              <p><strong>Expiration Date: </strong> <%= posted_job.expiration_date %>
            </div>
        </div>
      </div>
    <% end %>
  </div>

<!-- Start of jobs where they are the freelancer -->
  <div class="container">
    <h4> My jobs that I am working on </h4>
    <% @working_jobs.each do |working_job| %>
    <div class ="row">
        <div class="col s12 m6" style="border: red solid 2px">
          <!-- decide if we want people who are currently working on jobs to update or note and then delete or not delete -->
          <div class='right-align'>
            <%= link_to edit_job_path(working_job.id) do %>
              <i class="material-icons">edit</i>
            <% end %>
          </div>
          <div>
            <p><strong>Title: </strong> <%= working_job.title %> </p>
            <p><strong>Description: </strong> <%= working_job.description %> </p>
            <p><strong>Address: </strong> <%= working_job.address %> </p>
            <p><strong>City: </strong> <%= working_job.city %> </p>
            <p><strong>State: </strong> <%= working_job.state %> </p>
            <p><strong>Zip: </strong> <%= working_job.zip %> </p>
            <p><strong>Begin Date: </strong> <%= working_job.begin_date %> </p>
            <p><strong>End Date: </strong> <%= working_job.end_date %> </p>
            <p><strong>Dollar Value: </strong> <%= working_job.dollar_value %> </p>
            <p><strong>Type of Job: </strong> <%= working_job.type_of_job %> </p>
            <p><strong>Status: </strong> <%= working_job.status %> </p>
            <p><strong>Recurring: </strong> <%= working_job.recurring %> </p>
            <p><strong>Pet Location: </strong> <%= working_job.pet_location %> </p>
            <p><strong>Expiration Date: </strong> <%= working_job.expiration_date %>
          </div>
      </div>
    </div>
  <% end %>
</div>

<!-- PAGINATION -->

<%= paginate @pets %>
<div class="pagination_page_info">
  <%= page_entries_info @pets %>
</div>
